@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');


.header {
    padding: 20px;
    text-align: center;
    background: #ffffff7e;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #4a7788;
    font-size: 25px;
}


body {
    background-image: url("krystal.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 75px;
    font-weight: bolder;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

h3 {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: #4a7788;
}
.box {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 50%;
    border-radius: 25px;
    margin: 15px;
}

.box1 { 
    background-color:#f0b7ec;
    opacity: 0.6;
}
.box2 { background: #ffffff7e;
}
.darkteal {
    color: #4a7788;
}

.center{
    text-align: center;
    border-radius: 100px;
}

.plaincener{
    text-align: center;
}

.purplebubble {
    padding: 35px;
    background-color:#f0b7ec;
    opacity: 0.6;
    text-align: center;
    border-radius: 80px;
    
}

p {
    border-radius: 100px;
    padding: 20px;
}

ul {
    border-radius: 100px;
    padding-right: 50px;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}


.container {
    display: flex;
}

.container2 {
    display: flex;
    flex-direction: column;
}

img {
    border: 5px solid #4a7788;
    margin-bottom: 10px;
    margin-right: 15px;}
